@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: rgb(0, 65, 119);
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  margin: 0%;
  color: white;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  background-color: var(--main-color);
  /*display: none;*/
  padding: 15px;
}

h3 {
  border-bottom: 1px solid #979797;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  width: 80%;
}

h4 {
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
}

h4:hover {
  background-color: white;
  border: var(--main-color);
  color: var(--main-color);
  box-shadow: rgba(255, 255, 255, 0.315) 0px 5px 10px;
}

#newProject {
  border: 2px solid white;
}

#newProject:hover {
  background-color: white;
  border: var(--main-color);
  color: var(--main-color);
  box-shadow: rgba(255, 255, 255, 0.315) 0px 5px 10px;
}

.mainContent {
  margin: 5%;
  margin-left: 0%;
  color: #515151;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

dialog {
  max-width: 210px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 20px;
}

label {
  margin-left: 5%;
  color: #515151;
}
input[type="date"] {
  color: #515151;
}
input,
textarea {
  border: none;
  border-bottom: 1px solid #515151;
  margin: 5%;
}
input:focus,
textarea:focus {
  border: none;
  border-bottom: 1px solid #515151;
  outline: none;
}
button {
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  font-weight: bolder;
  max-height: 40px;
  font-size: 18px;
}

.taskData {
  display: flex;
  gap: 5%;
  color: rebeccapurple;
}
.taskDiv {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--main-color);
  margin: 2%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  gap: 20px;
  width: 50%;
}

.checked {
  text-decoration: line-through;
  color: gray;
}
.deleteProject:hover {
  color: var(--main-color);
  background-color: white;
}

.projectLi {
  font-style: oblique;
}
.projectLi:focus {
  color: yellow;
}
.projectTitle {
  background-color: var(--main-color);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  box-shadow: var(--main-color) 0px 5px 15px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
}

.Details {
  font-size: 16px;
  border-top: 1px solid #919191;
}

.todoContainer {
  display: flex;
  gap: 10px;
}
